In [8]:
import pandas as pd

house_data_file = "../files/bengaluru_house_prices.csv"
df = pd.read_csv(house_data_file)  # read the csv file

# show the number of rows and columns in the file
df.shape

# show the top 5 rows
df.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0

In [32]:
# unique values in the 'area_type' column/field

df.area_type.unique()

# unique values in 'size' column/field

df["size"].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [ ]:
df[df["size"] == '2 BHK']

In [42]:
# filtered data of size 2 BHK and area type Super built-up Area

stdt = df[(df.area_type == "Super built-up  Area") & (df["size"] == "2 BHK")]
df[(df.area_type == "Super built-up  Area") & (df["size"] == "2 BHK")].value_counts()

# number of rows from the filtered data

stdt.shape[0]

area_type             availability   location          size   society  total_sqft  bath  balcony  price
Super built-up  Area  17-Mar         Varthur           2 BHK  Uptusol  1385        2.0   3.0      80.00    1
                      17-Oct         Ramagondanahalli  2 BHK  ViistLa  1235        2.0   1.0      52.04    1
                      Ready To Move  AECS Layout       2 BHK  CMard B  1005        2.0   1.0      55.00    1
                                     Budigere          2 BHK  PrityTr  1153        2.0   2.0      56.55    1
                                     Choodasandra      2 BHK  Maidsr   1075        2.0   2.0      45.00    1
                                     Electronic City   2 BHK  GMown E  770         1.0   1.0      40.00    1
                                     Haralur Road      2 BHK  RInceeg  1243        2.0   2.0      46.00    1
                                     Harlur            2 BHK  Prncyrn  1174        2.0   1.0      74.00    1
                                     Jakkur            2 BHK  HRaniIb  1202        2.0   1.0      79.00    1
                                     Kalkere           2 BHK  Sothin   925         2.0   1.0      55.00    1
                                     Kambipura         2 BHK  Prrtht   883         2.0   1.0      37.00    1
                                     Neeladri Nagar    2 BHK  GeereEc  1363        2.0   2.0      68.00    1
                                     Seegehalli        2 BHK  Sriferi  1176        2.0   2.0      50.00    1
                                     Thubarahalli      2 BHK  ShdhiSa  1200        2.0   2.0      79.55    1
                                     Yelahanka         2 BHK  Pyikad   1274        2.0   2.0      48.42    1
Name: count, dtype: int64

In [61]:
df["price_category"] = df.price.apply(lambda x: "Affordable" if x < 80 else "High Cost")
df.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0,High Cost
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0,High Cost
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0,Affordable
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0,Affordable
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0,Affordable