In [8]:
import pandas as pd

house_data_file = "../files/bengaluru_house_prices.csv"
df = pd.read_csv(house_data_file)  # read the csv file

# show the number of rows and columns in the file
df.shape

# show the top 5 rows
df.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0

In [16]:
# unique values in the 'area_type' column/field

df.area_type.unique()

# unique values in 'size' column/field

df["size"].unique()

array(['3 BHK', '4 Bedroom', '2 BHK', '2 Bedroom', '1 BHK', '5 BHK',
       '3 Bedroom', '5 Bedroom', '1 Bedroom'], dtype=object)

In [ ]:
df