In [3]:
import pandas as pd

# for movies.csv
df_movies = pd.read_csv("movies.csv")

# for financials.csv
df_financials = pd.read_csv('financials.csv')

# for languages
df_languages = pd.read_csv('languages.csv')

In [5]:
#show top3 rows in df_movies

df_movies.head(3)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5

In [6]:
#show top3 rows in df_financials

df_financials.head(3)

   movie_id  budget  revenue      unit currency
0       101     1.0     12.5  Billions      INR
1       102   200.0    954.8  Millions      USD
2       103   165.0    644.8  Millions      USD

In [7]:
#show top3 rows in df_languages

df_languages.head(3)

   language_id lang_name
0            1     Hindi
1            2    Telugu
2            3   Kannada

In [8]:
#read the csv file: 'new_movies.csv'
df_new_movies = pd.read_csv('new_movies.csv')

#show the dataframe
df_new_movies

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,201,Pathaan,Bollywood,2023,6.6,Yash Raj Films,1
1,210,Vikram,Bollywood,2022,8.3,Raaj Kamal Films International,4
2,240,Black Panther: Wakanda Forever,Hollywood,200,6.9,Marvel Studios,5

In [14]:
#concat the two dataframes ['df_movies', df_new_movies]
df_movies = pd.concat([df_movies, df_new_movies], ignore_index=True)

#show the last 5 rows
df_movies.tail(5)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
37,139,Race 3,Bollywood,2018,1.9,Salman Khan Films,1
38,140,Shershaah,Bollywood,2021,8.4,Dharma Productions,1
39,201,Pathaan,Bollywood,2023,6.6,Yash Raj Films,1
40,210,Vikram,Bollywood,2022,8.3,Raaj Kamal Films International,4
41,240,Black Panther: Wakanda Forever,Hollywood,200,6.9,Marvel Studios,5

In [16]:
#perform the join operation
df_movies = pd.merge(df_movies, df_languages, on='language_id')

#show the top 5 rows
df_movies.head(5)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,lang_name
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,Kannada
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,English
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5,English
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5,English
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5,English

In [18]:
#perform the join operation
df_movies = pd.merge(df_movies, df_financials, on='movie_id', how='left')

#show the last 5 rows
df_movies.head(5)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,lang_name,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,Kannada,1.0,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,English,200.0,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5,English,165.0,644.8,Millions,USD
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5,English,180.0,854.0,Millions,USD
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5,English,250.0,670.0,Millions,USD

In [24]:
"""
Save the 'df_movies' dataframe with name 'final_complete_data.csv'.
Only take the columns 'movie_id', 'title', 'lang_name', 'budget', 'revenue', 'currency'
set the index to False while saving the dataframe
"""

df_movies.to_csv('final_complete_data.csv', columns=['movie_id', 'title', 'lang_name', 'budget', 'revenue', 'currency'], index=False)